<div class="footer" style="display:flex; align-items:center; width:100%;">
    <input type="Image" id= "Home_Page"     src="/img/Logo-Filled.png" onclick="window.location.href='http://rune-tactics.com/'"; style="width:50px; height:50px;">
    <input type="Image" id= "Twitter"       src="/img/Twitter.png"     onclick="window.location.href='https://twitter.com/sekuccg'";>
    <input type="Image" id= "Google_Form"   src="/img/Suggestions.png" onclick="window.location.href='https://forms.gle/V1Z9bpseieMSMCFX7'";>
    <p>©2023 RuneTactics</p>
</div>