{{!-- <link rel="stylesheet" href="styles.css"> --}}
<nav class="horizontal">
{{!-- <img style="width: 75px; height: 75px; " src="img/wombat.png" style="align-self:flex-start"> --}}

<!-- Note: The size of the nav-bar is fitting to the size of the wombat PNG. -->
<ul>
    {{!-- <img style="width: 60px; height: 60x; " src="img/Tournament_Viewer_Logo4.png" style="align-self:flex-start"> --}}

    <li><a href="">Home</a></li>
    {{!-- <li><a href="">Tournament Mode</a></li> --}}
    <li><a href="">Lineup Assist</a></li>
    <li><p style="display:none;">Hidden</p></li>
    <!-- <li><a href="">Fill4</a></li> -->
</ul>
</nav>
{{!-- <img style="width: 75px; height: 75px; position:fixed; top:0; left:0;" src="img/Tournament_Viewer_Logo2.png" style="align-self:flex-start"> --}}
